@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v14-latin-700.woff2") format("woff2");
}

:root {
  /* COLORS */
  --primary-color: #118da8;
  --secondary-color: #fff;
  --main-bg-color: #191919;
  --black-color: #000;
  /* FONT STYLES */
  --main-font-family: "DM Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  font-weight: 400;
  font-family: var(--main-font-family);
  color: var(--secondary-color);
}

/* normalize css problem fixed */
h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

main {
  flex-grow: 1;
}

/* GLOBAL STYLE END */

/* HEADER STYLES START */

.header {
  margin-bottom: 26px;
  margin-top: 26px;
}

.header__container {
  display: flex;
  align-items: center;
}

.site__logo_link {
  display: inline-block;
  margin-right: auto;

  &:hover {
    opacity: 0.6;
  }
}

.sitenav {
}
.sitenav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}
.sitenav__item {
}
.sitenav__link {
  font-size: 1.7rem;
  color: var(--secondary-color);
  line-height: 1.6em;

  &:hover {
    color: var(--primary-color);
    transition: 0.2s;
  }

  &:active {
    opacity: 0.6;
  }
}

/* HEADER STYLES END */

/* MAIN STYLES START */

/* SECTION HERO STYLES START */

.main {
}
.main__container {
}
.hero {
}
.hero__div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__div span img {
  position: absolute;
  top: 95px;
}
.hero__img {
  position: relative;
  z-index: -1;
  margin-left: 22px;
}
.hero__description {
  margin-left: 40px;
}
.hero__description__texts {
  margin-bottom: 74px;
}
.hero__description_text {
  display: inline;
  font-size: 7rem;
  line-height: 1.25em;
  letter-spacing: 0.32rem;
}
.hero__description_next {
  display: inline;
  font-size: 7.5rem;
  line-height: 1.17em;
  letter-spacing: 0.32rem;
  background-image: url(../images/next.svg);
}
.hero__description_level {
  margin-left: 25px;
  display: inline;
  font-weight: 700;
  font-size: 8rem;
  line-height: 1.1em;
  letter-spacing: 0.32rem;
}
.hero__listen {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__listen_text {
  font-size: 1.5rem;
  line-height: 1.6em;
}
.hero__listen_list {
  display: flex;
  align-items: center;
  gap: 17px;
}
.hero_listen_item {
}
.hero_listen_icons {
}

/* SECTION HERO STYLES END */

/* MAIN STYLES END */

/* FOOTER STYLES START */

.footer {
}
.footer__container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 16px;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20.9px;
  width: 447.14px;
}
.footer__social_list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__social_item {
}
.footer__social_icons {
}
.footer__info {
  display: flex;
  gap: 16px;
}
.footer__info_list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.footer__info_items {
}
.footer__info_little_list {
  width: 178.84px;
}
.footer__info_links {
  color: var(--secondary-color);
  font-size: 1.7rem;
  line-height: 1.6em;
}
.footer__info_little_itemfirst {
  gap: 10px;
}
.footer__info_little_itemsecond {
  gap: 10px;
}
.footer__info_little_itemthird {
}

.footer__info_little_list_icons {
  display: flex;
  align-items: center;
  gap: 17px;
}
/* FOOTER STYLES END */
